/* Add CSS Styling */
.odd {
    background-color: #f89fad;
    font-family: Verdana, "DejaVu Sans", serif;
    font-size: 24px;
}

.cooler {
    font-size: 32px;
    background-color: #f89fad;
}

#even2 {
    color: #0000ff;
    font-size: 36px;
}

#even4 {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}